.back {
  background-color: rgba(255, 255, 255, 0.2);
  color: aliceblue;
}

.load {
  margin: auto;
  top: 20px;
}

.resultmain {
  padding-bottom: 50px;
  font-size: 20px;
  font-weight: bold;
}
